/* navbar menu  */


/* product text  */

.product-text {
    /* margin-top: -43px; */
    /* transform: rotate(-26deg); */
    font-family: product-text-font;
    font-size: 40px;
    color: rgb(240, 45, 142);
    text-shadow: 2px 1px 2px #101010;
}

.img-size {
    height: 250px!important;
}

.login_brand {
    width: 106%;
    opacity: 0.7;
    height: 318px;
    background-color: #fbbb01;
}


/* slider image  */

.slider_img {
    height: fit-content!important;
}


/* catalog  */

.brand-catalog {
    top: 68px!important;
    background-color: #fbf9f900!important;
}


/* top slider  */

.top-slider {
    margin-top: 135px;
}


/* brand name */

.brand-name {
    font-family: brand-font;
    font-size: 58px!important;
    letter-spacing: 2px;
}

.brand-catalog {
    font-family: brand-catalog;
    /* font-size: 58px!important; */
    letter-spacing: 2px;
}


/* product view on home page  */

.product_view {
    padding-left: 15%;
    padding-right: 15%;
}

table thead {
    border-radius: 0px;
    font-variant: small-caps;
    box-shadow: 10px 10px 5px grey;
    padding: 15px!important;
    color: #fff;
}

table tbody tr:hover {
    box-shadow: 8px 8px 3px grey;
    font-variant: small-caps;
}

table tbody tr {
    font-family: "Times New Roman";
}

a {
    decoration: none;
    color: #000;
}

a:hover {
    decoration: none;
    color: #000;
}

button {
    font-variant: small-caps;
}

.card,
button,
input {
    border-radius: 0px!important;
}


/* Customize the label (the container) */

.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container1:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container1 input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container1 input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.carousel-control {
    background-color: #fff !important;
}

.footer_ul li {
    padding: 5px;
    font-weight: bold;
}

.footer_ul {
    list-style-type: none;
}

@media only screen and (min-width: 600px) {
    .carousel-inner {
        height: 450px;
    }
}

@media (max-width: 768px) {
    .product-text {
        /* margin-top: -13px; */
        font-size: 15px;
    }
    .spacer {
        display: none;
    }
    .brand-catalog {
        display: none;
    }
    .top-slider {
        margin-top: -34px;
    }
    .brand-name {
        font-size: 40px!important;
    }
    .slider_img {
        height: fit-content!important;
    }
    .carousel-inner {
        height: 300px;
    }
    .login-page {
        max-width: 100%!important;
    }
    .img-size {
        height: auto!important;
    }
}